*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100%;
}
#a{
    height: 200%;
}
.small-p{
    font-size:13px;
    
}

.contact-container-address{
    height: 200px;
    background-color: #F4F4F4;
    margin-top: -5px;
    
}

.container-sm{
    padding-top: 6vh;
}



@media (max-width:576px){

    
.contact-container-address{
    height: 350px;
    
    
}
}